<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,600&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/bars.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Would They Rather</title>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>

<body>

    <div class="container-fluid">

        <div class="row">
            <div class="col playerOne">
                <div class="row" style="background-color: #69b0b2; height: 50vh;">
                    <div class="col">
                        <div style="font-size: 5vw;">
                            <h1>Player One</h1>
                            <img src="images/p1male.svg" style="margin-top: 5vh;" alt="" width="50%">
                        </div>
                    </div>
                </div>
                <div class="row align-content-center" style="background-color: #69b0b2;height: 50vh;">
                    <div class="col-4">
                    </div>
                    <div class="col-1">
                        <div class="progress">
                            <div class="bar shadow WhiteStripes"></div>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col-1">
                        <div class="progress">
                            <div class="bar shadow BlackStripes"></div>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>



            <div class="col">
                <div class="infoPanel">
                    <div class="row p-4" style="background-color: #e1e1e1; height: 50vh;">
                        <div class="col">

                            <h1>
                                Would they <br> rather...
                            </h1>
                            <p class="par1">
                                have a job that they love and make no money
                            </p>
                            <h2 style="text-align: center; font-size: 3vw; font-weight: 700; font-style: italic;">or</h2>
                            <button id="post-btn">asd</button>
                            <p class="par2 ">
                                have a job that they hate and make loads of money
                            </p>

                        </div>
                    </div>
                    <div class="row align-content-center" style="background-color: #e1e1e1;height: 50vh;">
                        <div class="col-4">
                        </div>
                        <div class="col-1">
                            <div class="progress">
                                <div class="bar shadow WhiteStripes"></div>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                        <div class="col-1">
                            <div class="progress">
                                <div class="bar shadow BlackStripes"></div>
                            </div>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>

                </div>

            </div>



            <div class="col playerTwo">
                <div class="row" style="background-color: #d08362; height: 50vh;">
                    <div class="col">
                        <div style="font-size: 5vw;">
                            <h1>Player One</h1>
                            <img src="images/p2female.svg" style="margin-top: 5vh;" alt="" width="50%">
                        </div>
                    </div>
                </div>
                <div class="row align-content-center" style="background-color: #d08362;height: 50vh;">
                    <div class="col-4">
                    </div>
                    <div class="col-1">
                        <div class="progress">
                            <div class="bar shadow WhiteStripes"></div>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                    <div class="col-1">
                        <div class="progress">
                            <div class="bar shadow BlackStripes"></div>
                        </div>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>

        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <script src="javascripts/socket.io.js"></script>
    <script src="javascripts/helpers.js"></script>

    <script>
        var socket = io();

        const button = document.getElementById('post-btn');
        const bars = document.querySelectorAll('.bar');
        const progress = document.querySelectorAll('.progress');
        var playerOne = document.getElementById('p1Pick')
        var playerTwo = document.getElementById('p2Pick')


        // window.addEventListener('load', async _ => {});
        // var serData = document.getElementById('serD');



        button.addEventListener('click', function() {
            socket.emit('test')
        })


        socket.on('serialD', function(msg) {

            // console.log("dupa");
            var a = String(msg);
            var c = a.split(':');
            var one = c[0];
            var two = c[1];
            var three = c[2];
            var four = c[3];
            var five = c[4];
            var six = c[5];



            oneMapped = mapValue(one, 0, 1023, 0, 100);
            twoMapped = mapValue(two, 0, 1023, 0, 100);
            oneMapped = float2int(oneMapped)
            twoMapped = float2int(twoMapped)


            bars[0].style.height = `${twoMapped}%`;
            bars[1].style.height = `${100 - twoMapped}%`;

            bars[4].style.height = `${oneMapped}%`;
            bars[5].style.height = `${100 - oneMapped}%`;
        });
    </script>


</body>

</html>