@import url("https://fonts.googleapis.com/css?family=Bitter");

* {
    /* border: 1px solid red; */
}

:root {
    --font: "Bitter", serif;
    --title-size: 36px;
    --sub-size: 18px;
}

body {
    background: #e5e5e5;
}

.title h1 {
    margin: 4px;
    font-family: var(--font);
    font-size: var(--title-size);
    color: #333;
}

.title p {
    margin: 4px;
    padding-bottom: 25px;
    font-family: var(--font);
    font-size: var(--sub-size);
    color: #888;
}

.container {
    text-align: center;
}

.github {
    margin: 40px;
}

.progress {
    
    display: inline-block;
    width: 40px;
    height: 360px;
    margin-top: 0%;
    border-radius: 90px;
    background: rgb(80, 147, 147);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

}

.bar {
    border-radius: 20px;
    width: 100%;
    height: 0%;
    transition: height;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.36, 0.55, 0.63, 0.48);

}

.mobile {
    display: none;
}

.shadow {
    /* 25 50 */
    box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25);
}

.GreenStripes{
    background-color: #69b0b2;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23509393' fill-opacity='0.94' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.WhiteStripes
{
    background-color: #aaaaaa;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.BlackStripes
{
    background-color: #3a3a3a;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23202020' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
.OrangeStripes
{
    background-color: #d08362;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a86047' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
}
@media screen and (max-width: 500px) {
    .progress {
        width: calc(100vw * 0.7);
        /* height: calc(100vw * 0.7 * 0.145); */
        height: 40px;
        margin: 25px;
        -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); 
    }

    .github {
        margin: 20px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inherit;
    }
}


/* Indeterminate Classes and Animations */

.indeterminate-16 {
    animation: indeterminate-16 0.25s linear infinite;
}

.indeterminate-20 {
    animation: indeterminate-20 0.5s linear infinite;
}

.indeterminate-25 {
    animation: indeterminate-25 0.5s linear infinite;
}

.indeterminate-28 {
    animation: indeterminate-28 0.25s linear infinite;
}

.indeterminate-40 {
    animation: indeterminate-40 0.5s linear infinite;
}

.indeterminate-52 {
    animation: indeterminate-52 0.5s linear infinite;
}

.indeterminate-56 {
    animation: indeterminate-56 0.5s linear infinite;
}

.indeterminate-50 {
    animation: indeterminate-50 0.5s linear infinite;
}

.indeterminate-60 {
    animation: indeterminate-60 0.5s linear infinite;
}

.indeterminate-70 {
    animation: indeterminate-70 0.5s linear infinite;
}

.indeterminate-76 {
    animation: indeterminate-76 0.5s linear infinite;
}

.indeterminate-80 {
    animation: indeterminate-80 0.5s linear infinite;
}

.indeterminate-100 {
    animation: indeterminate-100 1s linear infinite;
}

.indeterminate-120 {
    animation: indeterminate-120 1s linear infinite;
}

.indeterminate-126 {
    animation: indeterminate-126 1s linear infinite;
}

.indeterminate-150 {
    animation: indeterminate-150 1s linear infinite;
}

@keyframes indeterminate-16 {
    from {
        background-position: 16px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-20 {
    from {
        background-position: 20px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-25 {
    from {
        background-position: 25px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-28 {
    from {
        background-position: 28px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-40 {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-50 {
    from {
        background-position: 50px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-52 {
    from {
        background-position: 52px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-56 {
    from {
        background-position: 56px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-60 {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 60px;
    }
}

@keyframes indeterminate-70 {
    from {
        background-position: 70px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-76 {
    from {
        background-position: 76px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-80 {
    from {
        background-position: 80px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-100 {
    from {
        background-position: 100px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-120 {
    from {
        background-position: 120px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-126 {
    from {
        background-position: 126px 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes indeterminate-150 {
    from {
        background-position: 150px 0;
    }
    to {
        background-position: 0 0;
    }
}